#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
    padding:0;
    z-index: -1;
}

#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:white;
}

#accordion {
    position: absolute;
    max-width: 500px;
    z-index: 1;
}

#accordion div p {
    z-index: 1;
}

body {
    margin:0;
    padding:0;
    opacity: 1;
    transition: 3s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}
