#map { position:absolute; top:0; bottom:0; width:100%; padding:0;}

#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:white;
}

#map-container {
    margin:0;
    padding:0;
    opacity: 1;
    transition: 3s opacity;
}

#map-container.fade-out {
    opacity: 0;
    transition: none;
}
