#map { 
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    padding:0;
    z-index: 0;
}


#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:white;
}

#popup {
    position: absolute;
    top:0;
    left:0;
}

#accordion {
    position: absolute;
    width: 500px;
    padding: 10px;
    top: 55px;
}

#exit {
    position: absolute;
    left: 500px;
    margin: 25px;
    font-size: 20px;
}

#title {
    position: absolute;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 7px;
    left: 10px;
    width: 485px;
    background: white;
}

.content {
    display: flex;
}

.content div p {
    padding-left: 10px;
}

.content img {
    height: 220px;
    width: 220px;
}

#map-container {
    margin:0;
    padding:0;
    opacity: 1;
    transition: 3s opacity;
}

body {
    margin:0;
    padding:0;
}

#map-container.fade-out {
    opacity: 0;
    transition: none;
}
